<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AKTU FORUM</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'index.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <!----------Header-------------------->
    <div class="header">
    <div class="container">
    <div class="navbar">
    <div class="logo">
        <img src="{{url_for('static', filename = 'uptu_logo.png')}}"  width="125px">
    </div>
    <nav>
        <ul>
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="{{url_for('register')}}">Register</a></li>
            <li><a href="{{url_for('contact')}}">Contact</a></li>
            <li><a href="">Add to Favourites</a></li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="col-2">
        <h1>AKTU Forum</h1>
        <p>Success isn't always about greatness. It's about consistency. Consistent <br> hard work gains success.Grratness will come.</p>
        <a href="{{url_for('material')}}" class="btn">Explore Material &#8594;</a>
    </div>
    <div class="col-2">
    <img src="{{url_for('static', filename = 'download.jpg')}}" alt="">
</div>
</div>
</div>
</div>

  <!----MARQUEE FIELD-->
  <div class="con">
    <marquee behavior="" direction=""><b><p>Success isn't always about greatness. It's about consistency.Consistent
        hard work gains success.Greatness will come.</p></b></marquee>
    </div>
<!-----------------------------------Brands--------------------------------------------------------------------->

<div class="heading">
    <h1>Partners</h1><hr>
</div>
<div class="parent">
    
    <div class="child">
        <a href="https://internship.aicte-india.org" target="_blank"><img src="{{url_for('static', filename = 'AICTE.png')}}" alt="AICTE"></a>
        

    </div>
    <div class="child">
        <a href="https://www.extramarks.com/" target="_blank"><img src="{{url_for('static', filename = 'logo-1622270260722-extramarks-smart-classes-500x500.png')}}" alt="extrmarks"> </a>
    </div>
    <div class="child">
        <a href="http://naac.gov.in/index.php/en/" target="_blank"><img src="{{url_for('static', filename = 'NAAC.png')}}" alt="NAAC"> </a>
    </div>
</div>



 <!-----------Footer-------------------------------------------------->
 <div class="footer">
    <div class="install">
        <h3>Download Our App</h3>
        <p>Download App for Android and ios mobile phone</p>
        <img src="{{url_for('static', filename = 'app-store.png')}}" alt="">
        <img src="{{url_for('static', filename = 'play-store.png')}}" alt="">
    </div>
    <div class="logo">
        <img src="{{url_for('static', filename = 'uptu_logo.png')}}" alt="">
    </div>
    <div class="content1">
        <h5>Useful links</h5>
        <ul>
            <li>Return Policy</li>
            <li>Join Affiliate</li>
        </ul>
    </div>
    <div class="content2">
        <h5>Follow Us</h5>
        <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Intsagram</li>
            <li>Youtube</li>
    </ul>
    </div><br>
</div>
<div class="copyright">
    <p>Copyright 2023-KIET</p>
</div>
                   
                  
</body>
</html>