<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="shortcut icon" href="Aktu.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <!----HEADER-->
    <div class="header">
        <div class="content">
                <div class="logo">
                    <img src="Aktu.png" alt="Aktu logo">
                </div>
                <nav>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Login</a></li>
                        <li><a href="">Register</a></li>
                        <li><a href="">Contact</a></li>
                        <li>  <a href="" class="btn">&#x2764;</a></li>
                    </ul>
                </nav>
        </div>
        <div class="container">
            <h1>Aktu Forum</h1><br>
         
        </div>
    </div>
               <!----MARQUEE FIELD-->
    <div class="con">
        <marquee behavior="" direction=""><b><p>Success isn't always about greatness. It's about consistency.Consistent
            hard work gains success.Greatness will come.</p></b></marquee>
        </div>
        <!----------Main BODY-->
        <div class="mainbody"></div>
        <!-------------Brands---------->
        <div class="brands">
            <h1>Partners</h1>
            <div id = "parent">
                <div>
                  <img src = "byjus-logo.png">
                </div>
                <div>
                  <img src = "Unacademy_logo.png">
                </div>
                <div>
                  <img src = "logo-1622270260722-extramarks-smart-classes-500x500.png">
                </div>
              </div>
        <!-----------Footer-------------------------------------------------->
 <div class="footer">
    <div class="container">
        <div class="row">
        <div class="footer-col-1">
            <h3>Download Our App</h3>
            <p>Download App for Android and ios mobile phone</p>
            <div class="app-logo">
            <img src="C:\Users\rajes\OneDrive\Desktop\AKTU FORUM\app-store.png">
            <img src="C:\Users\rajes\OneDrive\Desktop\AKTU FORUM\play-store.png">
            </div>
            </div>
              <div class="footer-col-2">
                  <img src="C:\Users\rajes\OneDrive\Desktop\AKTU FORUM\uptu_logo.png">
                  <p>Our Purpose Is To Provide Quality Education and
                   its Benefits of  Accessible to the Many.</p>
        </div>
            <div class="footer-col-3">
            <h3>Useful links</h3>
            <ul>
            <li>Return Policy</li>
            <li>Join Affiliate</li>              
            </ul>
            </div>
             <div class="footer-col-4">
            <h3>Follow Us</h3>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
                <li>Youtube</li>
                </ul>
            </div>
        </div>
            <hr>
            <p class="copyright">Copyright 2023 - KIET</p>
        </div>
    </div>
                   
                  
</body>
</html>